<!-- Preloader -->
<div class="preloader-wrapper">
  <div class="preloader">
    <div class="preloader-circle" id="status">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</div>
<!-- Preloader end -->

<!-- Header -->
<header>
  <!-- Top header -->
  <div class="top-header">
    <div class="container">
      <div class="row  align-items-center">
        <div class="col-md-3">
          <div class="social-links">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-youtube"></i></a></li>
              <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-5">
          <div class="brand-name text-center">
            <a routerLink="">
              <h1>Kavya</h1>
              <span>Enter your tagline here</span>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="search-wrapper">
            <div class="search-icon">
              <button class="open-search-btn"><i class="fa fa-search"></i></button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- Top header end -->
  <!-- Navbar  -->
  <div class="kavya-navbar" id="sticky-top">
    <div class="container">
      <nav class="nav-menu-wrapper">
        <span class="navbar-toggle" id="navbar-toggle">
          <i class="fas fa-bars"></i>
        </span>
        <div class="sticky-logo">
          <a routerLink="">
            <p>Kavya</p>
          </a>
        </div>
        <ul class="nav-menu ml-auto mr-auto" id="nav-menu-toggle">
          <li class="nav-item"><a routerLink="" class="nav-link">Home</a></li>
          <li class="nav-item"><a routerLink="blog" class="nav-link">Blog</a></li>
          <li class="nav-item"><a routerLink="about" class="nav-link">About</a></li>
          <li class="nav-item"><a routerLink="contact" class="nav-link">Contact</a></li>
          <!-- <a class="hide-toggle" id="hide-toggle"><i class="fas fa-arrow-up"></i></a> -->
        </ul>
        <div class="sticky-search">
          <div class="search-wrapper">
            <div class="search-icon">
              <button class="open-search-btn"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- Navbar end -->

  <!-- search overlay -->
  <div id="search-overlay" class="search-section">
    <span class="closebtn"><i class="fas fa-times"></i></span>
    <div class="overlay-content">
      <form>
        <input type="text" placeholder="Search here" name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
      </form>
    </div>
  </div>
  <!-- search overlay end -->

  <div class="body-overlay"></div>
</header>
<!-- header end -->
