
        <!-- Page header -->
        <section class="page-header">
          <div class="container">
              <div class="row align-items-center">
                  <div class=" col-md-6">
                      <div class="page-title">
                          <h2>Travel</h2>
                      </div>
                  </div>
                  <div class=" col-md-6">
                      <div class="page-breadcrumb">
                          <nav aria-label="breadcrumb">
                              <ol class="breadcrumb">
                                  <li class="breadcrumb-item"><a routerLink="">Home</a></li>
                                  <li class="breadcrumb-item active" aria-current="page">Travel</li>
                              </ol>
                          </nav>
                      </div>
                  </div>
              </div>
          </div>
      </section>
      <!-- page header end -->

      <!-- Archive content -->
      <section class="archive-content">
          <div class="container">
              <div class="row " id="main-content">
                  <div class="col-md-7 col-lg-8 content">
                      <!-- Archive posts -->
                      <div class="archive-posts theiaStickySidebar">
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/town-street.jpg" class="card-img"
                                              alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Travel</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">Top 10 tourist destinations of
                                                  the world</a></h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>

                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/coach.jpg" class="card-img" alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Lifestyle</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">Old yet beautiful things</a>
                                          </h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>
                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/shoes.jpg" class="card-img" alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Lifestyle</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">I want to leave my footprints
                                                  all over the world</a></h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>
                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/holidays.jpg" class="card-img" alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Lifestyle</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">How to make most out of
                                                  vaccation</a></h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>
                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/lighthouse.jpg" class="card-img"
                                              alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Travel</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">7 things you don't know about
                                                  Light house</a></h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>
                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/blonde-girl.jpg" class="card-img"
                                              alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Travel</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">Why alone time is a must for
                                                  you</a></h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>
                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="card border-0 mb-5">
                              <div class="row no-gutters align-items-center align-items-center">
                                  <div class="col-md-5">
                                      <a  routerLink="details"> <img src="assets/images/town-street.jpg" class="card-img"
                                              alt=""></a>
                                  </div>
                                  <div class="col-md-7">
                                      <div class="card-body">
                                          <ul class="category-tag-list">
                                              <li class="category-tag-name">
                                                  <a  routerLink="details">Travel</a>
                                              </li>

                                          </ul>
                                          <h5 class="card-title title-font"><a  routerLink="details">Top 10 tourist destinations of
                                                  the world</a></h5>
                                          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing
                                              elit. Quis ipsum rem, delectus
                                              deserunt consectetur saepe? Expedita sapiente rerum nostrum fuga non
                                              iure minima sunt inventore.<p>

                                                  <div class="author-date">
                                                      <a class="author"  routerLink="details">
                                                          <img src="assets/images/writer.jpg" alt=""
                                                              class="rounded-circle" />
                                                          <span class="writer-name-small">Julie</span>
                                                      </a>
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                      <!-- Archive posts end -->
                  </div>
                  <div class="col-md-5 col-lg-4 sidebar">
                      <!-- Sidebar posts -->
                      <div id="sticker" class="theiaStickySidebar">
                          <div class="sidebar-posts">
                              <div class="sidebar-title">
                                  <h5><i class="fas fa-circle"></i>Popular Posts</h5>
                              </div>
                              <div class="sidebar-content p-0">
                                  <div class="card border-0">
                                      <div class="row no-gutters align-items-center">
                                          <div class="col-3 col-md-3">
                                              <a  routerLink="details">
                                                  <img src="assets/images/sea-lighthouse.jpg" class="card-img" alt="">
                                              </a>
                                          </div>
                                          <div class="col-9 col-md-9">
                                              <div class="card-body">
                                                  <ul class="category-tag-list mb-0">
                                                      <li class="category-tag-name">
                                                          <a  routerLink="details">Lifestyle</a>
                                                      </li>
                                                  </ul>
                                                  <h5 class="card-title title-font"><a  routerLink="details">Lighthouse since
                                                          ages</a>
                                                  </h5>
                                                  <div class="author-date">
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="card border-0">
                                      <div class="row no-gutters align-items-center">
                                          <div class="col-3 col-md-3">
                                              <a  routerLink="details">
                                                  <img src="assets/images/paris.jpg" class="card-img" alt="">
                                              </a>
                                          </div>
                                          <div class="col-9 col-md-9">
                                              <div class="card-body">
                                                  <ul class="category-tag-list mb-0">
                                                      <li class="category-tag-name">
                                                          <a  routerLink="details">Lifestyle</a>
                                                      </li>
                                                  </ul>
                                                  <h5 class="card-title title-font"><a  routerLink="details">5 things you should
                                                          not miss about Paris</a>
                                                  </h5>
                                                  <div class="author-date">
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="card border-0">
                                      <div class="row no-gutters align-items-center">
                                          <div class="col-3 col-md-3">
                                              <a  routerLink="details">
                                                  <img src="assets/images/orange-bus.jpg" class="card-img" alt="">
                                              </a>
                                          </div>
                                          <div class="col-9 col-md-9">
                                              <div class="card-body">
                                                  <ul class="category-tag-list mb-0">
                                                      <li class="category-tag-name">
                                                          <a  routerLink="details">Lifestyle</a>
                                                      </li>
                                                  </ul>
                                                  <h5 class="card-title title-font"><a  routerLink="details">5 reasons for
                                                          travelling more</a>
                                                  </h5>
                                                  <div class="author-date">
                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="card border-0">
                                      <div class="row no-gutters align-items-center">
                                          <div class="col-3 col-md-3">
                                              <a  routerLink="details">
                                                  <img src="assets/images/city-pink.jpg" class="card-img" alt="">

                                              </a>
                                          </div>
                                          <div class="col-9 col-md-9">
                                              <div class="card-body">
                                                  <ul class="category-tag-list mb-0">

                                                      <li class="category-tag-name">
                                                          <a  routerLink="details">Lifestyle</a>
                                                      </li>
                                                  </ul>
                                                  <h5 class="card-title title-font"><a  routerLink="details">Pink city</a>
                                                  </h5>
                                                  <div class="author-date">

                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                                  <div class="card border-0">
                                      <div class="row no-gutters align-items-center">
                                          <div class="col-3 col-md-3">
                                              <a  routerLink="details">
                                                  <img src="assets/images/umbrella.jpg" class="card-img" alt="">
                                              </a>
                                          </div>
                                          <div class="col-9 col-md-9">
                                              <div class="card-body">
                                                  <ul class="category-tag-list mb-0">

                                                      <li class="category-tag-name">
                                                          <a  routerLink="details">Lifestyle</a>
                                                      </li>
                                                  </ul>
                                                  <h5 class="card-title title-font"><a  routerLink="details">Top 10 tips with
                                                          common lifestyles</a>
                                                  </h5>
                                                  <div class="author-date">

                                                      <a class="date"  routerLink="details">
                                                          <span>21 Dec, 2019</span>
                                                      </a>
                                                  </div>
                                              </div>
                                          </div>

                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="popular-tags mt-4">
                              <div class="sidebar-title">
                                  <h5><i class="fas fa-circle"></i>Popular tags</h5>
                              </div>
                              <div class="sidebar-content">
                                  <ul class="sidebar-list tags-list">
                                      <li><a  routerLink="details">Food</a></li>
                                      <li><a  routerLink="details">Technology</a></li>
                                      <li><a  routerLink="details">UI/UX</a></li>
                                      <li><a  routerLink="details">Diet
                                          </a></li>
                                      <li><a  routerLink="details">Lovelife</a></li>
                                      <li><a  routerLink="details">Jobs</a></li>
                                      <li><a  routerLink="details">Popular</a></li>
                                      <li><a  routerLink="details">health</a></li>
                                      <li><a  routerLink="details">VisitNepal</a></li>
                                      <li><a  routerLink="details">travel</a></li>
                                      <li><a  routerLink="details">freelance</a></li>
                                      <li><a  routerLink="details">leadership</a></li>
                                      <li><a  routerLink="details">happiness</a></li>
                                  </ul>
                              </div>

                          </div>
                          <div class="sidebar-posts mt-4">
                              <div class="sidebar-title">
                                  <h5><i class="fas fa-circle"></i>Archive</h5>
                              </div>
                              <div class="sidebar-content">
                                  <ul class="archive-date-list">
                                      <li><a  routerLink="details"><img src="assets/images/archive-icon.svg" alt=""> December
                                              2019</a></li>
                                      <li><a  routerLink="details"><img src="assets/images/archive-icon.svg" alt=""> November
                                              2019</a></li>
                                      <li><a  routerLink="details"><img src="assets/images/archive-icon.svg" alt=""> October
                                              2019</a></li>
                                      <li><a  routerLink="details"><img src="assets/images/archive-icon.svg" alt=""> September
                                              2019</a></li>
                                      <li><a  routerLink="details"><img src="assets/images/archive-icon.svg" alt=""> August
                                              2019</a>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="sidebar-posts mt-4">
                              <div class="sidebar-title">
                                  <h5><i class="fas fa-circle"></i>Categories</h5>
                              </div>
                              <div class="sidebar-content">
                                  <div class="category-name-list">
                                      <div class="card small-card">
                                          <a  routerLink="details"><img src="assets/images/shoes.jpg" class="card-img"
                                                  alt="" /></a>
                                          <div class="card-img-overlay">

                                              <h5 class="card-title title-font mb-0">
                                                  <a  routerLink="details">Travel</a>
                                              </h5>
                                          </div>
                                      </div>
                                      <div class="card small-card">
                                          <a  routerLink="details"><img src="assets/images/photography.jpg" class="card-img"
                                                  alt="" /></a>
                                          <div class="card-img-overlay">

                                              <h5 class="card-title title-font mb-0">
                                                  <a  routerLink="details">Photography</a>
                                              </h5>
                                          </div>
                                      </div>
                                      <div class="card small-card">
                                          <a  routerLink="details"><img src="assets/images/fashion.jpg" class="card-img"
                                                  alt="" /></a>
                                          <div class="card-img-overlay">

                                              <h5 class="card-title title-font mb-0">
                                                  <a  routerLink="details">Fashion</a>
                                              </h5>
                                          </div>
                                      </div>
                                      <div class="card small-card">
                                          <a  routerLink="details"><img src="assets/images/tech.jpg" class="card-img" alt="" /></a>
                                          <div class="card-img-overlay">
                                              <h5 class="card-title title-font mb-0">
                                                  <a  routerLink="details">Technology</a>
                                              </h5>
                                          </div>
                                      </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- Sidebar posts end -->
                  </div>
              </div>
          </div>
      </section>
      <!-- Archive content end -->
      <!-- Pagination section -->
      <section class="pagination-section">
          <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                  <li class="page-item disabled">
                      <a class="page-link"  routerLink="details" tabindex="-1"><i class="fas fa-arrow-left"></i></a>
                  </li>
                  <li class="page-item active"><a class="page-link"  routerLink="details">1</a></li>
                  <li class="page-item"><a class="page-link"  routerLink="details">2</a></li>
                  <li class="page-item"><a class="page-link"  routerLink="details">3</a></li>
                  <li class="page-item">
                      <a class="page-link"  routerLink="details"><i class="fas fa-arrow-right"></i></a>
                  </li>
              </ul>
          </nav>
      </section>
